/* Header styling */
.weather-header {
    background-color: #FF1D58; /* Dark background color */
    color: #fff; /* White text color */
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 1px;
    padding: 1px;
}

h1 {
    font-size: 2em; /* Add a semicolon here */
}

/* Search form & city list styling */
.form {
    /* Add any styling for the search form */
}

#city-list {
    /* City list container */
}

#city-names {
    list-style: none;
    padding: 1px;
    margin: 1px;
}

/* Styles for a simple flex container */
#my-container {
    display: flex;
}

/* Styles for the left and right columns in the flex container */
.aside {
    flex: 30%;
    padding: 10px;
}

.main-content {
    flex: 70%;
    padding: 10px;
}
